.button {
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

/* Variant */
.primary {
  background-color: var(--btn-bg-primary);
  color: var(--btn-text-primary);
  transition: 0.2s ease;
}

.secondary {
  background-color: var(--btn-bg-secondary);
  color: var(--btn-text-secondary);
  transition: 0.2s ease;
}

.primary:hover {
  background-color: var(--btn-bg-primary-hover);
}

.secondary:hover {
  background-color: var(--btn-bg-secondary-hover);
}

/* Size */
.sm {
  padding: 6px 12px;
  font-size: 14px;
}

.md {
  padding: 10px 16px;
  font-size: 16px;
}

.lg {
  padding: 14px 20px;
  font-size: 18px;
}
