.float {
  position: fixed;
  left: 0;
  top: 3%;
  width: 100%;
  padding: 0 0.7rem;
  z-index: 100;
}

.navbar {
  margin: 0 auto;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid var(--border-navbar);
  border-radius: 4rem;
  transform: translateY(-100%);
  opacity: 0;
  background: var(--bg-navbar);
  color: var(--accent);
}

.navbar.fadeIn {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 12px;
}

.navLogo {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.navLogo button {
  border: none;
  background: none;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  color: var(--accent);
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navItem {
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.75;
  padding: 2px 12px;
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.navItem:hover {
  font-weight: 500;
  opacity: 1;
  color: var(--accent);
}

.navItem.active {
  font-weight: 500;
  opacity: 1;
  padding: 8px 18px;
  border-radius: 3rem;
  background-color: var(--accent);
  color: #fff;
}

.navActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 620px) {
  .navLinks {
    display: none;
  }
}
