.float {
  position: fixed;
  left: 0;
  top: 3%;
  width: 100%;
  padding: 0 1rem;
  z-index: 100;
}

.navbar {
  margin: 0 auto;
  background: var(--bg-navbar);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid var(--border-navbar);
  border-radius: 4rem;
  color: var(--accent);
  transition: background-color 0.3s ease;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.2rem;
  margin: 0 12px;
}

.navLogo {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.navLogo button {
  border: none;
  background: none;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  color: var(--accent);
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navItem {
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.75;
  color: var(--text-secondary);
  cursor: pointer;
}

.navItem.active {
  font-weight: 500;
  opacity: 1;
  color: var(--accent);
}

.navActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 620px) {
  .navLinks {
    display: none;
  }
}
