.wrapper {
  position: relative;
  background-color: var(--bg-secondary);
  z-index: 2;
}

.center {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 2.4rem 2.4rem 3.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-inverse);
}

.copyRight {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-inverse-secondary);
}

.info {
  display: flex;
  gap: 18px;
}

@media (max-width: 620px) {
  .info {
    gap: 0px;
  }
}

.info span {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-inverse-secondary);
}